<h1>Login</h1>

<%= form_for :user, url: '/login' do |f| %>
  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %>

<%= link_to 'Sign Up', '/signup' %>