<%if @season.picks.length >= 0 && @season.picks.length != 48%>
  <%if @season.draft.username == current_user.username%>
    <h2><%="You are on the clock."%></h2>
  <%else%>
    <h2><%="#{@season.draft.username} is on the clock."%></h2>
  <%end%>

<%else%>
<h2><%= "The draft has concluded.  Click a team name to view a roster or login to your username to view your team."%></h2>
  <%if flash[:message]%>
    <%=flash[:message]%>
  <%end%>
<%end%>
<br/>
<br/>
<div class="pick_table"><table align="center">                                                  
  <tr>                          
    <th>Team Name</th>
    <th>Team Coach</th>
    <th>Forwards (6 Max)</th>
    <th>Defensemen (4 Max)</th>
    <th>Goalies (2 Max)</th>
  </tr>

<%@season.users[1..4].each do |user|%>     
  <tr>
    <td><%= link_to user.team.name, user_path(user.id) %></td> 
    <td><%= user.username %></td>     
    <td><%= user.forwards%></td> 
    <td><%= user.defensemen%></td>  
    <td><%= user.goalies%></td>
  </tr>
<% end %>                        
</table></div><br/>         

<%@player_hash = @players.group_by do |player|%>
  <%player.position%>
<%end%>
<%@player_hash.keys.each do |key| %>
<div id="user_table">
<table> 
    <tr>                          
      <th>Name</th>
      <th>Rating</th>
      <th>Position</th>
      <th>Add</th>
    </tr>
<%@player_hash[key].each do |player|%>     
    <tr>
      <td><%= player.name %></td>  
      <td><%= player.rating %></td> 
      <td><%= player.position %></td>  
      <%= form_tag('/picks') do %>
      <%= hidden_field(:pick, :player_id, value: player.id)%>
      <%= hidden_field(:pick, :user_id, value: @season.draft.id)%>
      <td><%= submit_tag 'Add', class: "nes-btn"%></td>
      <% end %>
    </tr>
  <% end %>                        
  </table>    
  </div>     
  <%end%>
  

