
<%if @lastseason.users.length < 4%>
<h2><%= "Four Users must sign up to start the draft."%></h2>
<%elsif @lastseason.users.length >= 4 %>
<h2><%= "This season is full."%></h2>
<%end %>

<%if flash[:message]%>
    <%= flash[:message]%>
<%end%>


<%= form_for @user do |f| %>
<%= f.label :username%>
<%= f.text_field :username%>
<%= f.label :password%>
<%= f.password_field :password%>
<%= f.collection_select(:team_id, @teams, :id, :name, prompt: "Select Team")%>
<%= f.collection_select(:season_id, @seasons, :id, :number, prompt: "Select Season")%>
<%= f.submit "Create" %>
<% end %>