<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Page</title>
</head>
<body>
  <%if @user.id == @season.draft.id%>
  <h2><%= link_to "Make Your Pick Here", users_path(@user.id)%></h2>
  <%end%>
  <h2 align="center"><%= "#{@user.team.hometown} #{@user.team.name} Coach #{@user.username}"%></h2><br/>
  
<div class="logo_roster">
  <div><img src="<%="#{@user.logo}"%>" alt="Team Logo" align="middle"></div>

<div><table>                         
    <tr>                          
      <th>Name</th>
      <th>Rating</th>
      <th>Position</th>
    </tr>
<%@user.players.each do |player|%>     
    <tr>
      <td><%= player.name %></td>  
      <td><%= player.rating %></td> 
      <td><%= player.position %></td>  
    </tr>
  <% end %>                        
  </table></div>
</div>    
</body>
</html>

