<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Page</title>
</head>
<body>
  <%= "Coach #{@user.username}"%><br/>
  
  <%= "#{@user.team.hometown} #{@user.team.name}"%><br/>


<br/>
<%= link_to "List of Available Players", players_path%>
<br/>

<table>                         
    <tr>                          
      <th>Name</th>
      <th>Rating</th>
      <th>Position</th>
    </tr>
<%@user.players.each do |player|%>     
    <tr>
      <td><%= player.name %></td>  
      <td><%= player.rating %></td> 
      <td><%= player.position %></td>  
    </tr>
  <% end %>                        
  </table>         
<<<<<<< HEAD
=======

</body>
</html>
>>>>>>> nick-stano
