<%= "#{@user.username}'s team"%>


<br/>
<%= link_to "List of All Players", players_path%>
<br/>


<table>                         
    <tr>                          
      <th>Name</th>
      <th>Rating</th>
      <th>Position</th>
    </tr>
<%@user.players.each do |player|%>     
    <tr>
      <td><%= player.name %></td>  
      <td><%= player.rating %></td> 
      <td><%= player.position %></td>  
    </tr>
  <% end %>                        
  </table>         