<!DOCTYPE html>
<html>
  <head>
    <title>HotseatHockey94</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <%if current_user%>
      <%= "#{current_user.username} is logged in."%>
      <p><%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete%></p>
      <%else%>
      <%= link_to "Login Required", login_path%>
      <%end%>
    </div>
    <%= yield %>
  </body>
</html>
