<!DOCTYPE html>
<html>
  <head>
    <title>HotseatHockey94</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
        <%if current_user%>
        <h2><%= "#{current_user.username} is logged in."%></h2>
        <h2><%= link_to "Draft Page", players_path%></h2>
        <h2><%= link_to "Make a selection", users_path(current_user.id)%></h2>
        <h2><%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete%></h2>
        <%else%>
        <h2><%= link_to "Login Required", login_path%></h2>
        <%end%>
    </div>
    <%= yield %>
  </body>
</html>
